.purchase{
	position: relative;
}

/*символ корзины*/
.cart {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--lightBackground);
    transition: all 0.4s ease-in;
    cursor: pointer;
    position: fixed; 
    top: 155px; 
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
}

.cart:hover {
    transform: scale(1.1);
}

.cart__num {
    position: absolute;
    background-color: var(--mainred);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
}

/*стилизация блока корзины*/
.showCart{
	display: none;
}

.showCart.visible{
	display: block;
	z-index: 10;
	min-width: 300px;
	max-width:800px;
	max-height: 420px;
	overflow-y:auto;
    position: fixed; 
    top: 245px; 
    right: 45px;
	background-color: var(--lightBack);
	border-radius: 16px;
	box-sizing: border-box;
	padding: 15px;
}
.cancel {
	cursor: pointer;
}

.cart-wrapper{
	margin-right: 12px;
}

.empty{
	text-align: center;
	color: var(--main-color);
	padding-bottom: 5px;
}

/*содержание корзины*/

.card-body{
	border-radius: 16px;

}

.cartHeader{
	display: flex;
	justify-content: space-between;
    align-items: center;
	padding: 10px 25px;
	color: var(--main-color);
}

.cartContent{
	display: flex;
	justify-content: space-around;
	color: var(--main-color);
}

.cart-total {
	font-weight: 500;
	font-size: 14px;
	border-left: 1px solid grey;
	padding-left: 7px;
}


/*левый блок корзины с отображением покупок*/

.cart-item__top {
	display: flex;
	align-items: flex-start;
	align-content: flex-end;
	flex-wrap: wrap;
	padding-bottom: 15px;
}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-left: 15px;
	max-width: 208px;
}

.cart-item__title {
	font-size: 14px;
    line-height: 1.2;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 10px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 16px;
	margin-left: 15px;
}


.items.items--small {
	width: 80px;
	font-size: 16px;
	height: 25px;
	text-align: center;
	color: var(--white);
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

/*правый блок с отображением условий доставки/ оплаты и цены*/

.freeDelivery{
	color: var(--white);
	cursor: pointer;
	font-size: 16px;
	background-color: var(--mainred);
	width: 160px;
	height: 35px;
	margin-top: 10px;
	border-radius: 25px;
}

.disabled{
	background-color:grey;
	color: black;
	opacity: 30%;
	cursor:not-allowed;
}

.free {
	color: var(--mainred);
}

.total-price,
.rouble {
	color: var(--mainred);
}

.emptyBucket{
	margin-bottom: 15px;
}

/*radio buttons*/

.form-group{
	display: flex;
	flex-direction: column;
	color: var(--white);
}

.radio-hidden {
	opacity: 0;
	appearance: none;
	height: 0;
	width: 0;
	margin: 0;
}

.radio-label {
	display: inline-block;
	width: 135px;
	height: 23px;
	background-color: var(--lightBackground);
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 16px;
	margin: 3px 0;
}

.radio-label:hover{
	opacity: 80%;
}

.radio-hidden:checked + .radio-label {
	background-color: var(--mainred);
}

#userComment{
	outline: none;
	padding-top: 6px;
}