/*header*/

.header{
    padding: 40px 0;
}

.header .container{
    position: fixed;
    z-index: 5;
    margin-left: 140px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.logo .img{
    vertical-align: bottom;
}

.main-title{
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: 120px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 56px;
}

.menu{
    margin-left: 100px;
}

.menu-list{
    list-style: none;
    display: flex;
}

.menu-item{
    margin-right: 88px;
}

.menu-item a {
    font-size: 22px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}
.menu-item a:hover{
    border-bottom: 2px solid var(--white);
    transition: all 0.3ms ease;
}

.currency{
    border: 1px solid var(--white);
    border-radius: 5px;
    width: 45px;
    height: 45px;
    padding: 6px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    margin-left: auto;
    user-select: none;
}

/*главная страница - новое меню*/

.main-content{
    padding-top: 103px;
    padding-bottom: 199px;
}

.main-content .container{
    position: relative;
}

.main-info{
    max-width: 608px;
}

.main-small-info{
    background: var(--mainred);
    border-radius: 100px;
    padding: 12px 16px;
    display: inline-block;
    font-size: 18px;
}

.main-text{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 56px;
}

.main-image{
    position: absolute;
    top: -123px;
    left: calc(100% - 991px);
}

/*кнопка вернуться наверх*/

.back-to-top {
    position: fixed;
    right: 6rem;
    bottom: 5rem;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: var(--mainred);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
    color: var(--main-color);
}

.back-to-top:hover {
    opacity: 60%;
}

.hidden {
    display: none;
    opacity: 0%;
}


/*footer*/

.footer{
    padding: 60px 0;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rights{
    font-size: 16px;
    line-height: 20px;
}

.footer-menu{
    display: flex;
    flex-direction: column;
}

.footer-item a {
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
}

.footer-item a:hover{
    border-bottom: 1px solid var(--white);
    transition: all 0.3ms ease;
}