/*смена темы на тёмную/светлую*/
.theme {
    position: absolute;
    cursor: pointer;
    right: 5rem;
    top: 4.3rem;
    font-size: 16px;
    color: var(--main-color);
    background: var(--lightBack);
    border: none;
    border-radius: 20em;
    width: 120px;
    height: 50px;
}


html.light, .light body{
    background: var(--lightBack);
    color: var(--main-color);
}

.light .products-item,
.light .help-form,
.light .help-form-input input{
    background: var(--lightBack);
    border: 1px solid var(--lightBackground);
}

.light .menu-item a,
.light .footer-item a{
    color: var(--main-color);
}

.light .menu-item a:hover,
.light .footer-item a:hover{
    border-bottom: 1px solid var(--main-color);
}

.light .main-small-info,
.light .back-to-top,
.light .theme,
.light .items,
.light .product-button{
    background: var(--lightBackground);
    color: var(--white);

}

.light .back-to-top{
    color: var(--lightBack);
}

.light .circle,
.light .free,
.light .card-body{
    background-color: var(--lightBackground);
}

.light .button:hover{
    background-color: var(--lightBackground);
    opacity: 60%;

}

.light .items__control:hover{
    background-color: var(--lightBackground);
    opacity: 60%;
}

.light .help-form-input{
    background: var(--productWeigth);
}

.light .help-form-input input{
    color: var(--productWeigth);
}
