@import './reset.css';
@import './whyWe.css';
@import './header-footer.css';
@import './productItem.css';
@import './сart.css';
@import './lightTheme.css';
@import './cart.css';

:root{
    --main-color: #191411;
    --white: white;
    --mainred:#c7a90b;
    --buttonYellow:#d8a733;

    --productWeigth:#6c757d;
    --itemBorder:#353535;

    --darkText:#211A16;
    --lightBackground:#abb4c4;
    --lightBack: #E5E5CB;
    --lightBorder:#d3ad92;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.ttf');
}

html{
    background: var(--main-color);
}

body{
    background:  var(--main-color);
    font-family: 'Gilroy', sans-serif;
    color: var(--white);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



.title{
    font-family: 'Merriweather', sans-serif;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button{
    background: var(--lightBack);
    border-radius: 8px;
    width: 260px;
    height: 62px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: var(--main-color);
    font-weight: 600;
}

.button:hover{
    background: var(--mainred);
    color: var(--white);
}

/*адаптивность*/

@media (max-width: 1199px) {

    .theme{
        top: 10rem;
        right: -9rem;
    }

    .main-image {
        top: 45px;
        left: 520px;
    }

    .back-to-top{
        right: 2rem;
    }

    .header .container{
        margin-left: 90px;
    }
}

@media (max-width: 991px) {
    .title{
        font-size: 45px;
        margin-left: 325px;
    }

    .header .container {
        margin-left: 50px;
    }

    .main-content{
        margin-left: 25px;
    }

    .main-image{
        left: 467px;
    }
}

@media (max-width: 575px) {
    .theme {
        right: -43rem;
    }

    .main-title{
        font-size: 36px;
    }

    .main-text {
        font-size: 19px;
        line-height: 26px;
    }

    .main-image{
        left: 390px;
    }

    .footer{
        margin-left: 25px;
    }
}