@import './reset.css';
@import './header-footer.css';
@import './productItem.css';
@import './lightTheme.css';
@import './help.css';
@import './cart.css';

:root{
    --main-color: #191411;
    --white: white;
    --mainred:#c7a90b;
    --buttonYellow:#d8a733;

    --productWeigth:#6c757d;
    --itemBorder:#353535;
    --LightTheme: #6e737c;

    --darkText:#211A16;
    --lightBackground:#abb4c4;
    --lightBack: #f4f4f4;
    --lightBorder:#d3ad92;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.ttf');
}

html{
    background: var(--main-color);
}

body{
    background:  var(--main-color);
    font-family: 'Gilroy', sans-serif;
    color: var(--white);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}



.title{
    font-family: 'Merriweather', sans-serif;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.button{
    background: var(--lightBack);
    border-radius: 8px;
    width: 260px;
    height: 62px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: var(--main-color);
    font-weight: 600;
    transition: all 0.3s ease-in;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--white);
    background: var(--itemBorder);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #d3ad92, #c7a90b, #d8a733, #abb4c4, #6e737c,#d3ad92 );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--itemBorder);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.none{
    display: none;
}

/*адаптивность*/

@media (max-width: 1199px) {

    .main-image {
        top: 45px;
        left: 465px;
    }

    .back-to-top{
        right: 2rem;
    }

    .header .container{
        margin-left: 55px;
    }
}

@media (max-width: 991px) {
    .title{
        font-size: 32px;
    }

    .header .container {
        margin-left: 50px;
    }

    .main-content{
        margin-left: 25px;
    }

    .main-image{
        left: 467px;
    }

    .help-form{
        margin: 25px auto;
    }
    
    .help-form-input{
        max-width: 465px;
    }

    .help-form-input input{
        max-width: 460px;
    }
}

@media (max-width: 575px) {


    .main-title{
        font-size: 36px;
    }

    .main-text {
        font-size: 19px;
        line-height: 26px;
    }

    .main-image{
        left: 390px;
    }

    .footer{
        margin-left: 25px;
    }

    .help-form{
        width: 550px;
    }
}

