
/*products-item*/

.products{
    padding-bottom: 180px;
}

.products-items{
    display: grid;
    grid-template-columns: repeat(3, 348px);
    gap: 24px;
    margin-top: 60px;
    text-align: center;
}

.products-item{
    padding: 30px;
    background-color: var(--darkText);
    border: 1px solid var(--itemBorder);
    border-radius: 16px;
}

.products-item-img{
    height: 220px;
}

.products-item-img img{
    max-width: 100%;
}

.products-item-title{
    font-size: 23px;
    line-height: 29px;
    padding: 24px 0;
    text-align: center;
}

.products-item-text{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
}


.button.product-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 62px;
}

.button.product-button span:first-child{
    margin-right: 10px;
}

.products-action{
    margin-left: 52px;
}


/*салаты*/

.salads.products-item-title{
    color: var(--darkText);
}

/*пицца*/

.pizza.products-item-img img{
    height: 170px;
    width: 170px;
}

.pizza.products-item-img{
    height: 160px;
}

/*суши*/
.sushi{
    margin-top: -35px;
}