
/*products-item*/

.products{
    padding-bottom: 100px;
}

.products-items{
    display: grid;
    grid-template-columns: repeat(3, 348px);
    gap: 24px;
    margin-top: 70px;
    text-align: center;
}

.products-item{
    padding: 25px;
    background-color: var(--darkText);
    border: 1px solid var(--itemBorder);
    border-radius: 16px;
}

.products-item-img{
    height: 200px;
}

.products-item-img img{
    max-width: 100%;
}

.products-item-title{
    font-size: 23px;
    line-height: 29px;
    padding: 15px 0;
    text-align: center;
}

.price {
	text-align: left;
	margin-top: -4px;
}

.price__weight {
	color: var(--productWeigth)!important;
	font-size: 80%;
	line-height: 1;
	margin-bottom: 5px;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.products-item-text{
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 24px;
}


.button.product-button{
    text-align: center;
    width: 180px;
    height: 50px;
    transition: all 0.3s ease-in;
}


.products-action{
    margin-left: 65px;
}


