/*почему мы*/

.why{
    background-position: top center;
    background-size: initial;
    background-repeat: no-repeat;
    padding-bottom: 180px;
}

.why-items{
    margin-top: 60px;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(3, 312px);
    justify-content: center;
}

.item{
    text-align: center;
}

.item-title{
    font-size: 24px;
    line-height: 29px;
    padding: 24px 0;
}

.item-text{
    font-size: 18px;
    line-height: 22px;
}
